!!! 5
html
  head
    title= title
  body
    header
      SMS
    table
      thead
        tr
          th imei
          th direction
          th timestamp
          th phoneNumber
          th nameContact
          th text
          th timeRecord
          th id
      tbody
        - each item in items
         tr
           td= item.phone_id
           td= item.direction
           td= item.timestamp
           td= item.phoneNumber
           td= item.nameContact
           td= item.text
           td= item.timeRecord
           td= item._id